body{
    background-image: url("./gembackground.jpg");
    background-size: contain;
}
.gameTitle{
    font-family: 'Fascinate Inline', cursive;
    font-size: 70px;
}
.title{
    font-family: 'Fascinate Inline', cursive;
    font-size: 20px;
}
.jumbotron{
    background-color: lightskyblue;
    background-image: url("./gembackground.jpg");
    /* background-size: fixed; */
}
.blockquote{
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    background-color: lightskyblue;
}
img{
    width: 150px;
    height: 150px;
}
#randomNumber, #userTotal{
    font-size: 70px;
    text-align: center;
}
#winScore, #lossScore{
    font-size: 20px;
}
.score-board{
    height: 200px;
}